@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;0,800;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: 'Montserrat';
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1046px;
  margin: 0 auto;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 104px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 15px;
}

.header__logo {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.header__menu {
  margin: 0 0 0 133px;
}

@media (max-width: 992px) {
  .header__menu {
    margin: 0 0 0 80px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    margin: 0 0 0 40px;
  }
}

@media (max-width: 479px) {
  .header__menu {
    margin: 0 0 0 20px;
  }
}

@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: #757575;
  z-index: 20;
}

.navbar__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .menu > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.navbar .menu > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
  color: #fff;
  margin-top: 25px;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  padding: 0 15px;
}

@media (max-width: 1000px) {
  .navbar__wrap .menu {
    display: none;
  }
  .hamb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
  }
  .bar {
    position: relative;
    left: 15px;
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
  }
  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
  }
  .popup.open {
    left: 0;
  }
  .popup .menu {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 50px 0;
  }
  .popup .menu > li {
    width: 100%;
  }
  .popup .menu > li > a {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 700;
    color: #3f3f3f;
  }
  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamb__field.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamb__field.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  body.noscroll {
    overflow: hidden;
  }
}

.page__main-block {
  position: relative;
  padding: 0 15px;
}

.main-block__body {
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 10;
  max-width: 400px;
}

.main-block__body > *:not(:last-child) {
  margin: 0 0 35px 0;
}

.main-block__title {
  font-size: 58px;
  line-height: calc(80 / 58 * 100%);
  font-weight: 800;
  letter-spacing: 0.2px;
  color: #fff;
}

.main-block__text {
  color: #fff;
  font-size: 20px;
  line-height: 150%;
  max-width: 315px;
}

.main-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px 0;
}

.main-block__button {
  border-radius: 37px;
  min-height: 44px;
  letter-spacing: 0.2px;
  font-weight: 700;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  margin: 10px 0;
}

.main-block__button:not(:last-child) {
  margin-right: 10px;
}

.main-block__button-orange {
  background-color: #ff7d47;
  color: #fff;
}

.main-block__button-border {
  color: #0d5c63;
  border: 1px solid #0d5c63;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .main-block__image img {
    -o-object-position: right;
       object-position: right;
  }
}

@media (max-width: 992px) {
  .main-block__image img {
    opacity: 0.5;
  }
}

@media (max-width: 992px) {
  .main-block__body {
    padding: 120px 0 191px 0;
  }
}

@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}

@media (max-width: 479px) {
  .main-block__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}

@media (max-width: 479px) {
  .main-block__text {
    color: #585757;
  }
}

.main {
  z-index: 10;
}

.main__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: #252B42;
  text-align: center;
  margin-top: 132px;
}

.main__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  width: 511px;
  margin: 0 auto;
  color: #737373;
  margin-top: 15px;
}

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 132px;
}

.main__image {
  margin-top: 5%;
}

.main__image img {
  width: 500px;
  max-width: 100%;
}

.main__block {
  padding: 20px 0;
  margin-left: 120px;
}

.main__label {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  width: 333px;
  color: #252B42;
}

.main__parag {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  width: 330px;
  color: #737373;
  margin-top: 10px;
}

.main__list-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  border-radius: 9px;
  margin-top: 30px;
  margin-left: 52px;
  line-height: 25px;
}

.main__list-1 li:first-child::before {
  content: url(../img/Vector-4.jpg);
  padding-right: 10px;
}

.main__list-1 li:first-child {
  width: 277px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.main__list-1 li:last-child {
  width: 222px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.main__list-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  width: 333px;
  height: 77px;
  border-radius: 9px;
  margin-left: 52px;
  line-height: 25px;
}

.main__list-2 li:first-child::before {
  content: url(../img/Vector-5.jpg);
  padding-right: 10px;
}

.main__list-2 li:first-child {
  width: 277px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.main__list-2 li:last-child {
  width: 222px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

@media (max-width: 1000px) {
  .main__title {
    font-size: 24px;
  }
  .main__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main__image {
    padding: 0 10px;
  }
}

@media (max-width: 565px) {
  .main__label {
    font-size: 24px;
  }
  .main__subtitle {
    width: 450px;
  }
  .main__block {
    margin-left: 60px;
  }
}

@media (max-width: 410px) {
  .main__label {
    font-size: 18px;
  }
  .main__subtitle {
    width: 250px;
  }
  .main__list-1 {
    margin-left: 20px;
  }
  .main__list-1 li:first-child {
    font-size: 12px;
  }
  .main__list-1 li:last-child {
    font-size: 10px;
  }
  .main__list-2 {
    margin-left: 20px;
  }
  .main__list-2 li:first-child {
    font-size: 12px;
  }
  .main__list-2 li:last-child {
    font-size: 10px;
  }
  .main__parag {
    font-size: 12px;
    width: 300px;
  }
  .main__block {
    margin-left: 35px;
  }
}

@media (max-width: 363px) {
  .main__label {
    font-size: 14px;
  }
  .main__parag {
    font-size: 12px;
    width: 250px;
  }
  .main__block {
    margin-left: 20px;
  }
}

.footer__block-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

.footer__title {
  font-size: 24px;
  font-weight: 700;
  color: #252B42;
}

.footer__parag {
  font-size: 14px;
  color: #737373;
  margin-top: 10px;
}

.footer__button {
  width: 160px;
  height: 58px;
  font-size: 14px;
  color: #fff;
  background-color: #FF7B47;
  border-radius: 5px;
  line-height: 28px;
  letter-spacing: 0.2px;
  font-weight: 700;
}

.footer__block-2 {
  background-color: #17213C;
  padding: 52px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__link {
  color: #fff;
}

.footer__list {
  color: #fff;
}

.footer__list li {
  line-height: 30px;
}

.footer__list li:first-child {
  font-size: 16px;
  font-weight: 600;
}

.footer__last-1::before {
  content: url(../img/Vector.jpg);
  width: 24px;
  height: 24px;
  position: relative;
  top: 8px;
  right: 5px;
}

.footer__last-2::before {
  content: url(../img/Vector-2.jpg);
  width: 24px;
  height: 24px;
  position: relative;
  top: 8px;
  right: 5px;
}

.footer__last-3::before {
  content: url(../img/Vector-3.jpg);
  width: 24px;
  height: 24px;
  position: relative;
  top: 8px;
  right: 5px;
}

.footer__block-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}

.footer__title-2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  opacity: 0.6;
  position: relative;
  top: 6px;
}

.footer__social-icons img {
  margin-right: 15px;
}

.footer__icons {
  background-color: #999;
}

@media (max-width: 550px) {
  .footer__block-3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__title-2 {
    width: 400px;
    font-size: 12px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__social-icons {
    position: relative;
    left: 33%;
    margin-top: 10px;
  }
}

@media (max-width: 400px) {
  .footer__block-3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__title-2 {
    width: 350px;
    font-size: 10px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__social-icons {
    position: relative;
    left: 28%;
    margin-top: 10px;
  }
}

@media (max-width: 635px) {
  .footer__button {
    margin-left: 35%;
  }
}

@media (max-width: 479px) {
  .footer__title {
    font-size: 20px;
  }
  .footer__button {
    margin-left: 25%;
  }
}

@media (max-width: 320px) {
  .footer__title {
    font-size: 16px;
  }
  .footer__button {
    margin-left: 23%;
  }
}

@media (max-width: 310px) {
  .footer__title {
    font-size: 16px;
  }
  .footer__button {
    margin-left: 18%;
  }
}
