@import 'null.scss';
@import 'main.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;0,800;1,600&display=swap');

body {
	font-family: 'Montserrat';
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.container {
	max-width: 1046px;
	margin: 0 auto;
}
.content {
	flex: 1 1 auto;
}
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 10;
	&__container {
		display: flex;
		min-height: 104px;
		align-items: center;
		box-sizing: content-box;
		padding: 0 15px;
	}
	&__logo {
		font-size: 24px;
		font-weight: 600;
		color: inherit;
	}
	&__menu {
		margin: 0 0 0 133px;
	}
}
@media (max-width: 992px) {
	.header__menu {
		margin: 0 0 0 80px;
	}
}
@media (max-width: 767px) {
	.header__menu {
		margin: 0 0 0 40px;
	}
}
@media (max-width: 479px) {
	.header__menu {
		margin: 0 0 0 20px;
	}
}
@media (max-width: 479px) {
	.header__container {
		min-height: 70px;
	}
}
.form {
	max-width: 800px;
	margin: 0 auto;
	margin-top: 160px;
	&__input {
		margin-top: 20px;
		width: 335px;
		padding: 10px;
		border-radius: 15px;
		background-color: #e6ffff;
		transition-duration: 0.6s;
	}
	&__input:hover {
		background-color: #81d4fa;
	}
	&__message {
		margin-top: 20px;
		width: 335px;
		padding: 10px;
		border-radius: 15px;
		background-color: #e6ffff;
		transition-duration: 0.6s;
	}
	&__button {
		margin-top: 20px;
		padding: 10px;
		border-radius: 15px;
		width: 335px;
		background-color: #ff8a50;
		color: #fff;
		transition-duration: 0.6s;
	}
	&__button:hover {
		background-color: #e64a19;
	}
}
.footer {
	&__block-3 {
		display: flex;
		justify-content: space-between;
		padding: 25px 0;
	}
	&__title-2 {
		font-weight: 600;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.2px;
		opacity: 0.6;
		position: relative;
		top: 6px;
	}
	&__social-icons img {
		margin-right: 15px;
	}
}
@media (max-width: 550px) {
	.footer__block-3 {
		flex-wrap: wrap;
	}
	.footer__title-2 {
		width: 400px;
		font-size: 12px;
		text-align: center;
		display: flex;
		justify-content: center;
	}
	.footer__social-icons {
		position: relative;
		left: 33%;
		margin-top: 10px;
	}
}
@media (max-width: 400px) {
	.footer__block-3 {
		flex-wrap: wrap;
	}
	.footer__title-2 {
		width: 350px;
		font-size: 10px;
		text-align: center;
		display: flex;
		justify-content: center;
	}
	.footer__social-icons {
		position: relative;
		left: 28%;
		margin-top: 10px;
	}
}